@charset "utf-8";

body{
	overflow-x: hidden;
}
/* header */
header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 14px;
	z-index: 999;
	width: 100%;
	height: 80px;
	background: -webkit-linear-gradient(left,#ace,#FFBFBF);
	background: -moz-linear-gradient(left,#ace,#FFBFBF);
	background: -o-linear-gradient(left,#ace,#FFBFBF);
	opacity: .9;
	transition: .5s;
}
header:hover{
	opacity: 1;
	transition: .5s;
}
.navbar-default{
	background: #fff;
	border: none;
}
.logo{
	float: left;
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-top: 6px;
	margin-right: 6px;
	margin-left: 10px;
}

/* section */
section{
	margin-top: 86px;
}

/* 图片 */
.featured-title span{
	font-size: 14px;
	color: #FFBFBF;
}
.allPicture{
	position: relative;
	overflow: hidden;
}
.allPicture .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-left: 0;
	padding-right: 0;
}
.allPicture img{
	cursor: pointer;
}
.role{
	position: absolute;
	top: 234px;
	left: 0;
	width: 100%;
	height: 212px;
	background:rgba(230, 103, 104, 0.61);
}
.role h2{
	color: #fff;
	font-weight: normal;
	font-size: 1.5em;
	padding: 0 0 0 1em;
}
.role div{
	color: #fff;
	padding: 0 0 0 1.5em;
	font-weight: normal;
}
.role span{
	background: url('../img/grid-icons.png') no-repeat;
}
.role .a1{
	background-position: 0 0;
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-left: 20px;
	margin-top: 20px;
}
.role .a2{
	background-position: -47px 0px;
	display: inline-block;
	width: 35px;
	height: 35px;
}
/* swiper */
.swiper-container {
    width: 100%;
    height: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-container .swiper-slide img{
    width: 100%;
}
.allPicture img{
	display: inline-block;
	width: 100%;
}
.allPicture p{
	height: 24px;
	line-height: 24px;
	text-align: center;
}
/* article vidio播放器*/
article{
	width: 100%;
}
video{
	width: 100%;
}
/* 小道消息 */
.about-bottom img{
	width: 360px;
	height: 230px;
	display: inline-block;
	cursor: pointer;
	transition: all 1s;
}
.about-bottom .second{
	height: 230px;
	overflow: hidden;
}
@media screen (min-width:1200px) {
	.about-bottom .second{
		width: 320px;
	}
}
.about img:hover{
	-webkit-transform: scale(1.6);
	-ms-transform: scale(1.6);
	-o-transform: scale(1.6);
	transform: scale(1.6);
}
.tokyo{
	font-size: 16px;
	text-indent: 2em;
}
.tokyoEn{
	font-size: 12px;
	text-indent: 2em;
}
.about-left p{
	text-indent: 2em;
	font-size: 12px;
}
.mtp-10{
	margin-top: 32px;
}
.xz{
	margin-left: 0;
	margin-right: 0;
	font-size: 12px;
}
.xz img{
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
	transition: 1s;
}
.xz img:hover{
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}
/* footer */
footer{
	background: #3B444B;
	margin-top: 40px;
	color: #7F8D98;
}
footer h4{
	font-size: 2em;
	color: #1CD5B5;
	font-weight: 700;
	font-family: Overlock-Regular;
	padding: 0 0 1em;
}
.contact-left a{
	color: #7F8D98;
}
.contact-left a:hover{
	color: #1cD5B5;
}